{% extends 'uniMarcaBundle::layout.html.twig' %}

{% block cuerpo %}
    

    <h1>Listado de noticias del {{titulo}}</h1>

    <table class="records_list">
        
        <tbody>
        {% for entity in entities %}
           
        <h3><a href="{{ path('noticias_show', { 'id': entity.id }) }}">{{ entity.titulo }}</a></h3><br>
        <img src="{{ asset('bundles/unimarca/imagenes/'~ entity.foto ~ '') }}" width=30% height=35%/>  <br>  
               
                {{ entity.autor }}
               {% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}
                    
      
            
            
     
     
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('noticias_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}

    

    
    